h1 {
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 75px;
}

html {
  background-color: #2196F3;
}

:root {
  /* declare a variable with `--` syntax */
  --ButtonColor: #f44336;
}


/* Style the links inside the sidenav */
#myMenu a {
  position: absolute;
  /* Position them relative to the browser window */
  left: -80px;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  /* Remove underline */
  font-size: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: black;
  border-radius: 0 5px 5px 0;

}

#myMenu a:hover {
  left: 0;
  /* On mouse-over, make the elements appear as they should */
}

/* The about link: 20px from the top with a green background */
#about {
  top: 20px;
  background-color: var(--ButtonColor);
}

#Github {
  top: 80px;
  background-color: var(--ButtonColor);
  /* Blue */
}

#Linkedin {
  top: 140px;
  background-color: var(--ButtonColor);
  /* Red */
}

#Email {
  top: 200px;
  background-color: var(--ButtonColor)
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 300px;
}