.siteHead {
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 75px;
  flex-wrap: wrap;
  display: inline-block;
  margin-left: 70px;
}

html {
  background-color: #90b5d3;
  max-width: 1000px;
}

:root {
  /* declare a variable with `--` syntax */
  --ButtonColor: #f44336;
}

main {
  /* Turns this element into a flexbox */
  display: block;

}

/* Style the links inside the sidenav */
#myMenu a {
  position: absolute;
  /* Position them relative to the browser window */
  left: -80px;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  /* Remove underline */
  font-size: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: black;
  border-radius: 0 5px 5px 0;

}

#myMenu a:hover {
  left: 0;
  /* On mouse-over, make the elements appear as they should */
}

/* The about link: 20px from the top with a green background */
#projects {
  top: 20px;
  background-color: var(--ButtonColor);
}

#about {
  top: 20px;
  background-color: var(--ButtonColor);
}

#Github {
  top: 80px;
  background-color: var(--ButtonColor);
  /* Blue */
}

#Linkedin {
  top: 140px;
  background-color: var(--ButtonColor);
  /* Red */
}

#Email {
  top: 200px;
  background-color: var(--ButtonColor)
}

.profilePic {
  display: flex;
  margin: 40px auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 250px;
  position: relative;
  right: 180px;
  /* position: absolute; */
  /* top: -10px; */
  bottom: 90px;
}

.banner {
  display: in;
  position: relative;
  bottom: 100px;
  left: 120px;
  border: 2px solid #bfbfbf;
}

.bio {
  display: block;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  position: relative;
  bottom: 750px;
  left: 480px;
  line-height: 1.8;
  background-color: white;
  border: 5px solid black;
  max-width: 700px
}

.endTag {
  position: relative;
  margin: auto;
  bottom: 200px;
  left: 600px;
}

.projects {
  display: inline-block;
  position: relative;
  bottom: 390px;
  left: 130px;
}

.picSize {
  display: flex;
  float: left;
  height: 300px;
  width: auto;
  margin: 0 20px 70px 0;
}

figure {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin: 20px;
  font-size: 60px;
}

.pList {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

@media screen and (max-width:480px) {

  .banner,
  .profilePic,
  .projects {
    object-fit: contain;
    width: 100%;
    height: auto;
  }
}